
<div class="jumbotron">

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">
							<center>
								<font color="blue">Saldo Total do Caixa do Condomínio</font>
							</center>
						</h2>
					</div>
					<div class="panel-body">
						https://condominiosj2.herokuapp.com

						<div>

							<button type="submit" ng-click="geraRelatorio()"
								class="btn btn-warning">Relatório sobre o Saldo do
								Caixa</button>
							<form>

								<body>

									<center>
                                       <!--  
										<a href="http://localhost:8080/api/private/relatorio"><img
											src="resources/images/c1.jpg"
											style="width: 304px; height: 228px;"></a> <a
											href="http://localhost:8080/api/private/relatorio"><-Clique
											aqui!-></a>
											-->
											<a href="https://condominiosj2.herokuapp.com/api/private/relatorio"><img
											src="resources/images/c1.jpg"
											style="width: 304px; height: 228px;"></a> <a
											href="https://condominiosj2.herokuapp.com/api/private/relatorio"><-Clique
											aqui!-></a>
											

										<!--       
  <a href="http://localhost/sj/api/private/relatorio"><img src= "resources/images/c1.jpg" style="width:304px;height:228px;"></a>        
        <a href="http://localhost/sj/api/private/relatorio"><-Clique aqui!-></a>      
 -->

										<a ng-click="geraRelatorio()"><img
											src="resources/images/c2.jpg"
											style="width: 304px; height: 228px;"></a> <br>


									</center>
								</body>


							</form>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
